<!--<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">Triple-T</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#">Voting</a></li>
    </ul>
    <p class="navbar-text navbar-right">Whatsup, Juandi</p>
  </div>
</nav>-->

<div class="outer">
	<div class="inner">
		<img class="crest" src="phi sig crest.png"></img>
	</div>
</div>
<div class="row-fluid">
	<div class="col-md-2"></div>
	<div class-"col-md-8">
		<a href="/voting"><span id="btn">VOTING</span></a>
		<span id="btn">LATE PLATE</span>
		<span id="btn">BIBLES</span>
		<span id="btn">HOUSE MEETING</span>
		<span id="btn">FORMS</span>
	</div>
	<div class="col-md-2"></div>
</div>
