  <ul class="sortable">
    <%- partial('partials/candidate', candidates) %>
  </ul>
<form action="/send" method="POST">
  <input type="hidden" name="input" class="hiddeninput">
  <input type="submit" value="Submit" id="submit">
</form>
<button type="button" id="results" onclick="location.href='/winner';">See Winner</button>

<ul>
<%- partial('partials/vote', votes) %>
</ul>
