  <ul class="sortable">
    <%- partial('partials/candidate', candidates) %>
  </ul>
<form action="/send" method="POST">
  <input type="hidden" name="input" class="hiddeninput">
  <input type="submit" value="Submit">
</form>

<script>
//    $('.sortable').sortable();
var children = [];
$('li').each(function(i, elem) {
    children.push($(elem).text());
});

    $('.hiddeninput').val(children);
</script>

<ul>
<%- partial('partials/vote', votes) %>
</ul>
