<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <%- partial('partials/stylesheet', stylesheets) %>
      <%- partial('partials/script', scripts) %>
    </head>
    <body>
        <%- body %>
    </body>
</html>
