doctype html
html(lang="en")
	head
		if(stylesheets)
			- each ss in stylesheets
				link(rel='stylesheet' href=ss)
		if(scripts)
			- each script in scripts 
				script(src=script)
		meta(charset="utf-8")
	body
		div.header
			div.banner Triple-T
		nav.navbar.navbar-default.navbar-inverse(role="navigation")
			div.navbar-header
				a.navbar-brand(href="../") Home
			p.navbar-text.navbar-right Whatsup, User
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active 
						a(href="/newElection") Voting
					li
						a(href="#") Late Plate
					li
						a(href="#") Bibles
					li
						a(href="#") House Meeting
					li
						a(href="#") Forms
		!= body

