body {
	background-image: url('otis_redding.png');
	font-family: montserrat, sans-serif;
}

#title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
}

#subtitle {
	margin: -16px 0 10px;
	text-align: center;
	color: gray;
}

#label {
	text-align: center;
	color: gray;
}

.header {
	background: rgb(114, 5, 5);
}

.banner {
	text-align: center;
	font-weight: 700;
	font-size: 45px;
	padding: 20px 0px;
	color: white;
}

#wrapper {
	background-image: url('cloth_alike.png');
	border: solid gray 1px;
	border-radius: 10px;
	width: 30%;
	padding: 30px 30px 25px;
}

#btn { 
	background: none; 
	border: solid 3px rgb(114, 5, 5); 
	color: rgb(114, 5, 5); 
	padding: 10px 20px; 
	border-radius: 12px; 
	text-align: center; 
	font-size: 15px; 
	margin: 40px 0.7% 0px; 
	font-weight: 399; 
	float: right; 
} 
 
#btn:hover { 
	background: rgb(114, 5, 5); 
	color: white; 
} 

