div.container#wrapper
	div#title=ElectionTitle
	div#subtitle Drag candidates to change order
	div#label Top Choice
	ul.sortable
		- each candidate in candidates
			li=candidate
	div#label Bottom Choice

	- var sendURL = "/send/" + voteID
	form(action=sendURL method="POST")
		input.hiddeninput(type="hidden" name="input")
		input.submit#btn(type="submit" value="Submit")
button.results#btn(type="button") See Winner
