<div class="header">
	<div class="banner">Triple-T</div>
</div>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="../">Home</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Voting</a></li>
      <li><a href="#">Late Plate</a></li>
      <li><a href="#">Bibles</a></li>
      <li><a href="#">House Meeting</a></li>
      <li><a href="#">Forms</a></li>
    </ul>
    <p class="navbar-text navbar-right">Whatsup, User</p>
  </div>
</nav>

<div class="container" id="wrapper">
	<div id="title">Title of Vote</div>
	<div id="choicesLabel">Top Choice</div>
	<ul class="sortable">
	  <%- partial('partials/candidate', candidates) %>
	</ul>
	<div id="choicesLabel">Bottom Choice</div>

	<form action="/send" method="POST">
	  <input type="hidden" name="input" class="hiddeninput">
	  <input type="submit" value="Submit" class="submit" id="btn">
	</form>
</div>
	<button type="button" class="results" id="btn" onclick="location.href='/winner';">See Winner</button>

